Node-Red-Bots.json
[{"id":"3e92f660.900f92","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"59702761.1f7798","type":"telegram sender","z":"3e92f660.900f92","name":"","bot":"f6091a7e.4cfc88","x":680,"y":400,"wires":[[]]},{"id":"aa8bb0ee.fc57c","type":"telegram receiver","z":"3e92f660.900f92","name":"","bot":"f6091a7e.4cfc88","saveDataDir":"","x":292.99998474121094,"y":181.60003662109375,"wires":[["e3490563.afa788","56a9058d.6aa03c"],[]]},{"id":"e3490563.afa788","type":"function","z":"3e92f660.900f92","name":"Telegram_to_Watson","func":"msg.chatId = msg.payload.chatId;\nmsg.payload=msg.payload.content;\n\nreturn msg;","outputs":1,"noerr":0,"x":560,"y":180,"wires":[["99e4cded.38b2c8"]]},{"id":"56a9058d.6aa03c","type":"debug","z":"3e92f660.900f92","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":527.5,"y":250.4000244140625,"wires":[]},{"id":"99e4cded.38b2c8","type":"link out","z":"3e92f660.900f92","name":"","links":["bd8d24f1.06fe18"],"x":735.5,"y":185.4000244140625,"wires":[]},{"id":"1987b6c1.f07be9","type":"link in","z":"3e92f660.900f92","name":"Telegram","links":["fdb04b33.331db8"],"x":435.5,"y":425.4000244140625,"wires":[["59702761.1f7798"]]},{"id":"f6091a7e.4cfc88","type":"telegram bot","z":"","botname":"s","usernames":"","chatids":"","baseapiurl":"","updatemode":"polling","pollinterval":"300","usesocks":false,"sockshost":"","socksport":"6667","socksusername":"anonymous","sockspassword":"","bothost":"","localbotport":"8443","publicbotport":"8443","privatekey":"","certificate":"","useselfsignedcertificate":false,"verboselogging":false}]